flask==2.3.2
flask_httpauth==4.8.0
flask_restful==0.3.10
flask_sqlalchemy==3.0.3
psycopg2-binary==2.9.6
pytest==7.3.1
pytest-cov==4.1.0
pytest-flask==1.2.0
pytest-sqlalchemy==0.2.1
pytz==2023.3
SQLAlchemy==2.0.15
SQLAlchemy-Utils==0.41.1
Werkzeug==2.3.4